@mixin container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  width: 100%;
  background-color: $header-bg;

  &__container {
    @include container;
    min-height: 90px;
  }

  &__logo {
    color: $logo-color;
    font-size: 32px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: 0.05em;
    position: relative;
    padding-left: 75px;

    &::before {
      content: '';
      position: absolute;
      width: 64px;
      height: 64px;
      left: 0;
      top: 0;
      background: url('./img/logo.png');
    }
  }

  &__price {
    font-size: 24px;
    font-weight: 600;
    color: $header-color;

    &-amount {
      font-weight: 500;
      color: $grey-color;
      padding-left: 30px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0;
        left: 0;
        background: url('./img/euro.png');
      }
    }
  }

  &__cart {
    margin-left: 230px;
    width: 35px;
    height: 29px;
    background: url('./img/cart.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.main {
  width: 100%;
  background-color: $main-bg;
  flex: 1 0 auto;

  &__container {
    @include container;
  }

  .aside {
    width: 25%;
  }

  &__block {
    width: 75%;
    background: $footer-bg;
    margin-top: 20px;
    &__header {
      min-height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #878C8F;
      padding: 0 10px;
      &-select {
        min-height: 30px;
        border-radius: 20px;
      }
      &-found {

      }
      &-search {
        min-height: 30px;
        border-radius: 20px;
        text-align: center;
      }
      &__view-mode {
        display: flex;
        justify-content: space-between;
        width: 100px;
        &__small {
          width: 40px;
          height: 40px;
          background: url('./img/four_squares.png');
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.8s ease;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
        &__big {
          width: 40px;
          height: 40px;
          background: url('./img/six_squares.png');
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.8s ease;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }
    &__card-field {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &__card {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 10px;
        border: 1px solid #878C8F;
        &__header {
          height: 70%;
          padding: 5px;
          &__info {
            position: absolute;
            top: 25px;
            left: 0;
            right: 0;
            text-align: center;
            background: $footer-bg;
            border-radius: 10px;
            margin: 10px;
          }
          &__arrow {
            margin: 0 auto;
            margin-top: 5px;
            width: 80px;
            text-align: center;
            background: $footer-bg;
            border-radius: 5px;
            &:hover {
              cursor: pointer;
            }
          }
        }
        &__footer {
          display: flex;
          flex-direction: column;
          &__name {
            text-align: center;
            padding: 5px;
          }
          &__button-container {
            display: flex;
            justify-content: space-around;
            &__button {
              width: 120px;
              height: 35px;
              border: 1px solid #2b7bc6;
              border-radius: 5px;
              background: $footer-bg;
              transition: all 0.8s ease;
              &:hover {
                cursor: pointer;
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}

.footer{
  width: 100%;
  background-color: $footer-bg;
  font-size: 14px;

  &__container {
    @include container;
    min-height: 70px;
  }

  &__link {
    color: $link-color;
    line-height: 24px;
    transition:  all 0.3s ease-in-out;

    &:hover {
      font-size: 16px;
      text-decoration: underline;
    }
  }

  .github-link {
    width: 100px;
    display: flex;
    flex-direction: column;
  }

  .school-logo {
    width: 100px;
    height: 40px;
    background: url('./img/rsschool.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__year {
    font-size: 20px;
    font-weight: 600;
  }
}

.hide {
  display: none;
}