$header-bg: #E1EEFB;
$main-bg: #F1F8FF;
$footer-bg: #ffffff;
$logo-color: #1061AB;
$header-color: #2B7BC6;
$text-color: #000000;
$link-color: #2B7BC6;
$grey-color: #363F44;
$font: 'Montserrat', sans-serif;