$main-color: #2B7BC6;
$header-bg: #E1EEFB;
$main-bg: #F1F8FF;
$footer-bg: #ffffff;
$logo-color: #1061AB;
$dark-blue: #004C93;
$text-color: #000000;
$grey-color: #363F44;
$light-grey-color: #99A3A9;
$cart-count: #FFD600;
$font: 'Montserrat', sans-serif;